

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 19px 45px -15px rgba(0, 0, 0, 0.75);
    margin: 20px 0;
    height: 550px;
    width: calc(33.33% - 20px);  
    border-radius: 12px;
}

.card img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}



.card-content p{
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    
}




.card-btn {
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.btn-edt {
    background-color: blue;
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-dlt {
    background-color: red;
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
    margin-right: 15px;
}

