
.explore-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.explore-container h2{
  font-size: 36px;
  font-weight: bold;
}


.search-box {
  position: relative;
}

.search-box input {
  padding: 10px 14px 10px 36px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  width: 220px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  font-size: 14px;
}


.explore-form{
  margin: 0 40px 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  max-width: 100%;

  display: flex;         
  flex-direction: column;
  gap: 15px;              
}


.explore-form input{
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  width: 100%;
}

.error{
  color: red;
  font-size: 13px;
}


.explore-btn{
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.create-btn,
.sub-btn,
.can-btn{
  padding: 10px;
  background-color: #071c2e;
  border-radius: 6px;
  width: 180px;
  color: white;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
 
}

.can-btn{
  background-color:#071c2e;
}


.explore-card {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;        
  padding: 20px 40px;
}
