.post-container {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.post-card {
    width: 80%;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 20px;
}

.post-content {
    display: flex; 
    gap: 30px;
    margin-bottom: 20px;
}

.post-card_image{
    flex: 1;
}

.post-card_image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius:15px;
}

.post-info {
    flex: 1;
    text-align: left;
}

.post-info h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.post-info p {
    font-size: 20px;
    line-height: 1.6;
    color: #333131;
}

.post-btn {
    display: flex;
    justify-content: flex-end; 
    gap: 15px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.btn-edit {
    background-color: blue;
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-delete {
    background-color: red;
    color: white;
    padding: 2px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}